<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<label for="name">
	<f:translate key="tx_myextproduct_domain_model_produkt.name" />
</label><br />
	<f:form.textfield property="name" id="name" /><br />
<label for="description">
	<f:translate key="tx_myextproduct_domain_model_produkt.description" />
</label><br />
	<f:form.textarea property="description" id="description" cols="40" rows="15" /><br />
<label for="image">
	<f:translate key="tx_myextproduct_domain_model_produkt.image" />
</label><br />
	<span>File upload is not implemented!</span><br  /><br />
<label for="teaser">
	<f:translate key="tx_myextproduct_domain_model_produkt.teaser" />
</label><br />
	<f:form.textarea property="teaser" id="teaser" cols="40" rows="15" /><br />
<label for="gewicht">
	<f:translate key="tx_myextproduct_domain_model_produkt.gewicht" />
</label><br />
	<f:form.textfield property="gewicht" id="gewicht" /><br />
<label for="farbe">
	<f:translate key="tx_myextproduct_domain_model_produkt.farbe" />
</label><br />
	<f:form.textfield property="farbe" id="farbe" /><br />
</html>